*{
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   background-color: #f4e4ba;
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    min-height: 45vh;
    width: 40vh;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    text-align: center;
}
form{
   margin: 2rem 0 1rem 0;
}

form select,button,input{
    width: 100%; 
    border:none;
    outline: none;
    padding: 0.5rem;
    background-color: #f4e4ba;
    margin: 0.5rem 0;
    border-radius: 5px;
    font-weight: bold;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg{
    margin: 2rem 0 2rem 0;
}
button:hover{
    cursor: pointer;
    background-color: #f1da9e;
}